@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.vue-notification {
    background: #ff3d35 !important;
    border-left: 5px solid #ff0300 !important;
}

button:focus {
    outline: none;
}
.menu-icons {
    position: relative;
}
.menu-icons:before {
    background: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu-icons:after {
    content: '\e009';
    width: 99%;
    height: 99%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 0;
    font-family: "dripicons-v2";
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.dropdown-enter-active, .dropdown-leave-active {
    transition: transform 0.3s ease;
}
.dropdown-enter, .dropdown-leave-to {
    transform: translateY(-100%);
}
.scroll::-webkit-scrollbar {
     width: 1px;
}
.scroll::-webkit-scrollbar-track {
     background: theme('colors.gray.200');
 }
.scroll::-webkit-scrollbar-thumb {
     background-color: theme('colors.indigo.400');
 }